.scrollspySite{
	position: relative;
	overflow: auto;
	height: 345px;
	text-align: center;
	/*background-color: rgba(230, 249, 255,.3);*/

}
.container{

}
.inner{
	overflow: hidden;

}

.inner img{
	transition: all 0.8s ease;
}

.inner:hover img{
	transform: scale(0.9);
}

.diag1 img {
	transform: rotate(350deg);
	box-shadow: 2px 3px #dddddd;
}
.diag2 img {
	transform: rotate(10deg);
	box-shadow: 2px 3px #dddddd;
}